/** Basic config file **/

configuration {
  show-icons:         true;
  icon-theme:         "Papirus";
}
//@theme "/nix/store/2dx025n6ndchkdi21d280js9izzkf066-rofi-1.7.5/share/rofi/themes/blue.rasi"

@theme "/nix/store/p0c5id7pja42dnfapcf8wsyk0y4a7r56-rofi-1.7.8/share/rofi/themes/blue.rasi"
